.App {
  text-align: center;
}

body {
  background-color: #333;
  font-family: "Roboto", sans-serif;
}

.heading {
  background-image: url("./Photos/coffeebooks.jpeg");
  background-size: cover;
  height: 35rem;
}

.heading h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 4em;
  color: white;
  padding-top: 10rem;
  padding-left: 60rem;
  justify-content: left;
}

.heading p {
  padding-left: 75rem;
  color: white;
}
